<div class="project-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<%= render 'pledges/table', pledges: @pledges %>
				</div>
			</div>
		</div>	
	</div>	
</div>



