<div class="project-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="project-title text-center"><a href=""><%= @project.name %></a></h2>
				<div class="pledge-box">
					<%= render 'form' %>
				</div>
			</div>
		</div>	
	</div>	
</div>


