.nav li a {
  color: #828587;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 20px;
}

.logo {
  width: 166px;
  height: auto;
}

.navbar {
  margin-bottom: 0;
}

.nav-blue a {
  color: #00a0ff !important;
}

.nav-blue a:hover {
  color: #828587 !important;
}