// PROGRESS BAR //

.progress {
  border-radius: 3px;
  height: 6px;
  background-color: #d9d9de;
  box-shadow: none;
}

// CAROUSEL //

.carousel-inner > .item {
  height: 550px;
  background-size: cover;
  width: 100%;
}

.carousel-inner > .item > img {
  height: 100%;
  min-width: 100%;
  width: auto;
}

.carousel-caption {
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.carousel-inner {
  h2 {
    font-size: 50px;
    font-weight: 200;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
  }
  .btn {
    margin-bottom: 110px;
  }
}

// PROJECT CARD //

.project-box {
  color: #828587;
  background-color: white;
  border: solid 1px #d9d9de;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 30px;
  position: relative;
  font-size: 12px;
  min-height: 375px;

  .description-box {
    padding: 10px;
  }

  .title a {
    color: #0f2105;
    font-weight: bold;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    height: 35px;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .stats ul {
    margin: 0;
    padding: 0;
  }

  .stats ul li {
    display: inline-block;
    color: #0f2105;
    font-weight: bold;
  }

  .stats {
    .label {
      color: gray;
      font-weight: normal;
      padding: 0;
      font-size: 12px;
      margin-right: 5px;
    }
  }

  img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
}