// COLORS

$brand-primary: #2bde73;
$brand-success: #2bde73;


// BUTTONS

$btn-font-weight: bold;

// CONTAINER
$grid-gutter-width: 30px;
$container-large-desktop: (1040px + $grid-gutter-width);

// NAVBAR

$navbar-height: 60px;
$navbar-default-bg: white;

